.App {
  text-align: center;
  background-size: cover;
  background: url("https://wallpapercave.com/wp/wp1822725.png") no-repeat center center fixed;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-primary {
  margin: 10px;
}

.toolbar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar-div{
  width: 40%;
  margin: 2px;

}

/*.char-column{
  margin: 0 10px;
}*/
